/* Paleta
    - White: hsl(0, 0%, 100%)
    - Light gray: hsl(212, 45%, 89%)
    - Grayish blue: hsl(220, 15%, 55%)
    - Dark blue: hsl(218, 44%, 22%)
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    --cor0: hsl(0, 0%, 100%);
    --cor1: hsl(212, 45%, 89%);
    --cor2: hsl(220, 15%, 55%);
    --cor3: hsl(218, 44%, 22%);

    --titulo: 700 1.4em Outfit, sans-serif;
    --texto: 400 1em Outfit, sans-serif;
}

*{
    margin: 0;
}

body{
    display: grid;

    background: var(--cor1);
    font-size: 15px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 95vh;
}

.card{
    padding: 15px;

    background: var(--cor0);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.11);

    width: 280px;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.card-body{
    text-align: center;
}

.card-title{
    margin: 10px 4px;
    font: var(--titulo);
    color: var(--cor3);
}

.card-text{
    margin: 20px 8px;
    font: var(--texto);
    color: var(--cor2);
}

.attribution {
    padding: 10px;

    background-color: #000;
    font-size: 11px;
    text-align: center;
    color: #FFF;
}

.attribution a {
    color: hsl(160, 63%, 54%);
    text-decoration: none;
}

.attribution a:hover{
    text-decoration: underline;
}

footer{
    place-self: stretch;
}

/* Configuração desktop a partir de 1440px */
@media only screen and (min-width:1440px){
    main{
        min-height: 84vh;
    }
}